<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smiligenceUAT1.metrozadmin">


    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.smiligenceUAT1.metrozadmin.AdminWeeklyPaymentActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.smiligenceUAT1.metrozadmin.BulkUploadActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.smiligenceUAT1.metrozadmin.SellerWeeklyPaymentActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.smiligenceUAT1.metrozadmin.DeliveryBoyWeeklySettlements"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.smiligenceUAT1.metrozadmin.ViewAdvertisementActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name="com.smiligenceUAT1.metrozadmin.DeliveryBoyAttendanceTable"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name="com.smiligenceUAT1.metrozadmin.DeliveryBoyOrderedDetails"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name="com.smiligenceUAT1.metrozadmin.DeliveryBoyProfileActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name="com.smiligenceUAT1.metrozadmin.DeliveryBoyHistory"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name="com.smiligenceUAT1.metrozadmin.StoreDetailsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name="com.smiligenceUAT1.metrozadmin.ViewStoreBasedItems"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name="com.smiligenceUAT1.metrozadmin.StoreHistory"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name="com.smiligenceUAT1.metrozadmin.AdminContactUploadingActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name="com.smiligenceUAT1.metrozadmin.MaintainDeliveryFairActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.smiligenceUAT1.metrozadmin.DeliveryBoyApprovalActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.smiligenceUAT1.metrozadmin.ItemsReportGenerationActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.smiligenceUAT1.metrozadmin.DashBoardActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.smiligenceUAT1.metrozadmin.ReportGenerationActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.smiligenceUAT1.metrozadmin.ViewPickUpAndDropActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.smiligenceUAT1.metrozadmin.ViewItemDetailsCategoryActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.smiligenceUAT1.metrozadmin.TipsAddActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.smiligenceUAT1.metrozadmin.SubCategoryAddActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.smiligenceUAT1.metrozadmin.CategoryActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.smiligenceUAT1.metrozadmin.UserAddActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.PopMe" />
        <activity
            android:name="com.smiligenceUAT1.metrozadmin.OrderDetailsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.smiligenceUAT1.metrozadmin.ItemApprovalActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.smiligenceUAT1.metrozadmin.ForgetPassword"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.smiligenceUAT1.metrozadmin.RegisterActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.smiligenceUAT1.metrozadmin.AssignOrdersActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.smiligenceUAT1.metrozadmin.ContactUsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.smiligenceUAT1.metrozadmin.ApproveSellersActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.smiligenceUAT1.metrozadmin.AddAdvertisementActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.smiligenceUAT1.metrozadmin.ViewDiscountActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.smiligenceUAT1.metrozadmin.UserRoleActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_user_role_creation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.smiligenceUAT1.metrozadmin.OnBoardScreenActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_user_role_creation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.smiligenceUAT1.metrozadmin.LoginActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.smiligenceUAT1.metrozadmin.common.SplashActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/withoutWindowBarTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>